body { 
  background-image: url(licensed-image.jpeg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh; 
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  box-shadow: inset;
  border-radius: 10px;
}

@media (max-width: 500px) {
  body {
    background-size: contain; 
  }
}

 .container {
     max-width: 600px;
      margin: 50px auto;
       padding: 20px; 
       background: #ff4081;
        border-radius: 10px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         transition: background-color 0.3s ease;
         } 

   .container:hover {
          background-color:pink;
          transform: scale(1,1);
         }

     h1 {
           color: black;
           }

       p {
            font-size: large;
           }

      .btn {
             display: inline-block;
              padding: 10px;
               margin: 10px;
                color: white; 
                background: black;
                 border-radius: 5px; 
                 text-decoration: none; 
                 transition: transform 0.3s ease, background-color 0.3s;
               transform: perspective(500px) rotateX(10deg);
                } 
                
                .btn:hover {
                   background-color:gray;
                   transform: perspective(500px) rotateX(0deg);
                   } 
                   
                   .story { 
                    background: #ffeef2;
                     padding: 10px; 
                     border-left: 5px solid #ff4081;
                      margin: 10px 0; 
                      border-radius: 5px; 
                    }